<div class="page sub-page">
  <section class="hero">
    <div class="hero-wrapper">
      <div class="page-title">
        <div class="container">
          <h1>Contact the HOA</h1>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>
  <section class="content">
    <section class="block">
      <div class="container">
        <form class="form form-submit" id="post-message-form">
          <section>
            <h2>Basic Information</h2>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="name" class="col-form-label required">Name</label>
                  <input name="name" type="text" class="form-control" id="contactName" placeholder="Name" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="email" class="col-form-label required">Preferred Email</label>
                  <input name="email" type="email" class="form-control" id="contactEmail" placeholder="Email" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="subject" class="col-form-label required">Subject</label>
                  <input name="subject" type="text" class="form-control" id="contactSubject" placeholder="Subject" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="category" class="col-form-label">Message Category</label>
                  <select id="contact-category-select" name="contactCategory">
                    <option value="">Select Category</option>
                    <option value="contactUrgent">Urgent</option>
                    <option value="contactIssue">Report Issue</option>
                    <option value="contactIdea">Submit an Idea</option>
                    <option value="contactOther">Other</option>
                  </select>
                </div>
              </div>
            </div>
          </section>

          <section>
            <h2>Details</h2>
            <div class="form-group">
              <label for="contactMessage" class="col-form-label">Message:</label>
              <textarea name="contactMessage" id="contactMessage" class="form-control" rows="4" required></textarea>
            </div>
          </section>
          <section class="clearfix">
            <div class="form-group">
              <button type="submit" class="btn btn-primary large icon float-right"  id="post-resource-btn" data-id={{this.userId}}
                data-userName={{this.userName}}>Post
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </section>
        </form>
      </div>
    </section>
  </section>
</div>