<div class="page sub-page">
  <section class="hero">
    <div class="hero-wrapper">
      <div class="page-title">
        <div class="container">
          <h1>Post Classified</h1>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>
  <section class="content">
    <section class="block">
      <div class="container">
        <form class="form form-submit" id="post-classified-form">
          <section>
            <h2>Basic Information</h2>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="title" class="col-form-label required">Title</label>
                  <input name="title" type="text" class="form-control" id="title" placeholder="Title" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="price" class="col-form-label required">Price</label>
                  <input name="price" type="text" class="form-control" id="price" required>
                  <span class="input-group-addon">$</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name" class="col-form-label required">Your Name</label>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Name" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email" class="col-form-label required">Your Email</label>
                  <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phone" class="col-form-label required">Your Phone</label>
                  <input name="phone" type="text" class="form-control" id="phone" placeholder="Phone" required>
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="row">
              <div class="col-md-4">
                <h2>Category</h2>
                <div class="form-group">
                  <label for="category" class="col-form-label">Category</label>
                  <select class="change-tab" data-change-tab-target="category-tabs" name="category" id="category" data-placeholder="Select Category" data-prefix="auto">
                    <option value="">Select Category</option>
                    <option value="appliances">Appliances</option>
                    <option value="babyKid">Baby &AMP; Kid</option>
                    <option value="bikes">Bikes</option>
                    <option value="phones">Cell Phones</option>
                    <option value="clothes">Clothes &AMP; Acc.</option>
                    <option value="electronics">Electronics</option>
                    <option value="furniture">Furniture</option>
                    <option value="lawn">Lawn &AMP; Garden</option>
                    <option value="music">Music Instruments</option>
                    <option value="sports">Sporting Goods</option>
                    <option value="tickets">Tickets</option>
                    <option value="autos">Vehicles/Boats</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <h2>Features</h2>
                <div class="form-slides" id="category-tabs">
                  <div class="form-slide default">
                    <h3>Please Select a Category</h3>
                  </div>
                  <!-- start appliances.form-slide -->
                  <div class="form-slide" id="appliances">
                    <h3>Appliances</h3>
                    <figure class="category-icon">
                      <i class="fas fa-bed"></i>
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="applianceCondition" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="kitchen">Kitchen</option>
                            <option value="household">Household</option>
                            <option value="applOther">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="applianceStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end appliances.form-slide-->
                  <!-- start babyKid.form-slide -->
                  <div class="form-slide" id="babyKid">
                    <h3>Baby &AMP; Kid</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="babyKidCondition" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="toys">Toys</option>
                            <option value="strollers">Strollers</option>
                            <option value="highChairs">High Chairs</option>
                            <option value="kidsBedroom">Bedroom</option>
                            <option value="baKiOther">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="babyKidStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end babyKid.form-slide-->
                  <!-- start bikes.form-slide -->
                  <div class="form-slide" id="bikes">
                    <h3>Bikes</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="bikesCondition" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="kidsYouthBike">Kids &AMP; Youth</option>
                            <option value="adultBike">Adult</option>
                            <option value="performanceBike">Perfomance</option>
                            <option value="partsBike">Bike Parts</option>
                            <option value="bikeOther">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="bikesStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end bikes.form-slide-->
                  <!-- start phones.form-slide -->
                  <div class="form-slide" id="phones">
                    <h3>Cell Phones</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="phonesCondition" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="applePhone">Apple</option>
                            <option value="androidPhone">Android</option>
                            <option value="flipPhone">Flip</option>
                            <option value="phonesOther">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="phonesStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end phones.form-slide-->
                  <!-- start clothes.form-slide -->
                  <div class="form-slide" id="clothes">
                    <h3>Clothes &AMP; Acc.</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="clothesCondition" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="mensClothes">Mens</option>
                            <option value="womensClothes">Womens</option>
                            <option value="boysClothes">Boys</option>
                            <option value="girlsClothes">Girls</option>
                            <option value="babyClothes">Baby</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="clothesStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end clothes.form-slide-->
                  <!-- start electronics.form-slide -->
                  <div class="form-slide" id="electronics">
                    <h3>Electronics</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="electronicsCondition" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="computers">Computers</option>
                            <option value="computerParts">Computer Parts</option>
                            <option value="homeAudio">Home Audio</option>
                            <option value="carAudio">Car Audio</option>
                            <option value="tvs">Tvs</option>
                            <option value="camera">Camera</option>
                            <option value="video">Video</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="electronicsStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end electronics.form-slide-->
                  <!-- start furniture.form-slide -->
                  <div class="form-slide" id="furniture">
                    <h3>Furniture</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="furnitureCondition" data-prefix="furn" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="outdoor">Outdoor</option>
                            <option value="couches">Couches</option>
                            <option value="tablesdesks">Tables &AMP; Desks</option>
                            <option value="chairs">Chairs</option>
                            <option value="otherFurn">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="furnitureStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end furniture.form-slide-->
                  <!-- start lawn.form-slide -->
                  <div class="form-slide" id="lawn">
                    <h3>Lawn &AMP; Garden</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="lawnCondition" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="lawnEq">Lawn Equipment</option>
                            <option value="gardenEq">Garden Equipment</option>
                            <option value="decorativeLawn">Decorative</option>
                            <option value="plants">Plants</option>
                            <option value="otherLawn">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="lawnStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end lawn.form-slide-->
                  <!-- start music.form-slide -->
                  <div class="form-slide" id="music">
                    <h3>Music Instruments</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="musicCondition"  data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="guitars">Guitars &AMP; Basses</option>
                            <option value="amps">Amps</option>
                            <option value="effects">Effects</option>
                            <option value="drums">Drums</option>
                            <option value="band">Band</option>
                            <option value="otherMusic">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="musicStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end music.form-slide-->
                  <!-- start sports.form-slide -->
                  <div class="form-slide" id="sports">
                    <h3>Sporting Goods</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="sportsCondition"  data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="fitness">Fitness</option>
                            <option value="yardGames">Yard Games</option>
                            <option value="hiking">Hiking</option>
                            <option value="fishing">Fishing</option>
                            <option value="otherSports">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="sportsStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end sports.form-slide-->
                  <!-- start furniture.form-slide -->
                  <div class="form-slide" id="tickets">
                    <h3>Tickets</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="ticketsCondition" data-prefix="furn" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="sportsTickets">Sporting Events</option>
                            <option value="concertTickets">Concerts</option>
                            <option value="playTickets">Plays</option>
                            <option value="otherTickets">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="ticketsStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end furniture.form-slide-->
                  <div class="form-slide" id="autos">
                    <h3>Vehicles &AMP; Boats</h3>
                    <figure class="category-icon">
                      <img src="assets/icons/furniture.png" alt="">
                    </figure>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="condition" class="col-form-label">Type</label>
                          <select name="condition" id="autosCondition" class="condition" data-placeholder="Type">
                            <option value="">Type</option>
                            <option value="cars">Cars</option>
                            <option value="trucks">Trucks</option>
                            <option value="rvs">RVs</option>
                            <option value="motorcycles">Motorcycles</option>
                            <option value="atvs">ATVs</option>
                            <option value="boats">Boats</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status" class="col-form-label">Status</label>
                          <select name="status" id="autosStatus" class="status-selector" data-placeholder="Status">
                            <option value="">Status</option>
                            <option value="new">New</option>
                            <option value="likenew">Like New</option>
                            <option value="used">Used</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="image" class="col-form-label">Image</label>
                          <input name="image" type="text" class="form-control" id="image" placeholder="image.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2>Details</h2>
            <div class="form-group">
              <label for="details" class="col-form-label">Additional Details</label>
              <textarea name="details" id="details" class="form-control" rows="4"></textarea>
            </div>
          </section>
          <section class="clearfix">
            <div class="form-group">
              <button type="submit" class="btn btn-primary large icon float-right" id="addClassBtn" data-id={{userId}} data-userName={{userName}}>Post<i class="fa fa-chevron-right"></i></button>
            </div>
          </section>
        </form>
      </div>
    </section>
  </section>
</div>
