<div class="col-md-3">
  <nav class="nav flex-column side-nav">
    <a class="nav-link icon" id="profileUpdate">
      <i class="fa fa-user"></i>Update Profile
    </a>
    <a class="nav-link icon" id="profilePostEvent">
      <i class="fa fa-heart"></i>Post Event
    </a>
    <a class="nav-link icon" id="profilePostClass">
      <i class="fa fa-star"></i>Post Classified
    </a>
    <a class="nav-link icon" id="profilePostRes">
      <i class="fa fa-recycle"></i>Post Resource
    </a>
    <a class="nav-link icon" id="profileContact">
      <i class="fa fa-check"></i>Contact HOA
    </a>
  </nav>
</div>
