<div class="col-md-9" id="profileUpdateForm" style="display: none">
  <div class="section-title clearfix">
    {{> profile/update_user}}
  </div>
</div>
<div class="col-md-9" id="profilePetForm" style="display: none">
  <div class="section-title clearfix">
    {{> profile/post_pet}}
  </div>
</div>
<div class="col-md-9" id="profileLander">
  <div class="section-title clearfix">
    <div class="page sub-page">
      <section class="hero">
        <div class="hero-wrapper">
          <div class="page-title">
            <div class="container">
              <h1>Welcome to your pet monitor profile portal!</h1>
              <h4>Select an option to get started.</h4>
            </div>
          </div>
        </div>
        <div class="background"></div>
      </section>
    </div>
  </div>
</div>
