<div class="col-md-3">
  <nav class="nav flex-column side-nav">
    {{!-- <a class="nav-link profileForm icon" id="profileUpdate">
      <i class="fa fa-user"></i>Update profile
    </a> --}}
    <a href="profile/postapet" class="nav-link profileForm icon" id="profilePostPet">
      <i class="fa fa-heart"></i>Add a pet
    </a>
    <a href="profile/yourpets" class="nav-link profileForm icon" id="profileYourPets">
      <i class="fa fa-heart"></i>Your pets
    </a>
  </nav>
</div>
