
<div class="col-md-9" id="profileUpdateForm" style="display: none">
  <div class="section-title clearfix">
    {{> update_user}}
  </div>
</div>
<div class="col-md-9" id="profileEventForm" style="display: none">
  <div class="section-title clearfix">
    {{> post_event_partial}}
  </div>
</div>
<div class="col-md-9" id="profileClassForm" style="display: none">
  <div class="section-title clearfix">
    {{> post_class_partial}}
  </div>
</div>
<div class="col-md-9" id="profileResForm" style="display: none">
  <div class="section-title clearfix">
    {{> post_res_partial}}
  </div>
</div>
<div class="col-md-9" id="profileContactForm" style="display: none">
  <div class="section-title clearfix">
    {{> contact_partial}}
  </div>
</div>
<div class="col-md-9" id="profileLander">
  <div class="section-title clearfix">
    <div class="page sub-page">
      <section class="hero">
        <div class="hero-wrapper">
          <div class="page-title">
            <div class="container">
              <h1>Welcome!</h1>
              <h2>HOA Account Portal</h2>
              <h4>Please select an option to the left to get started.</h4>
            </div>
          </div>
        </div>
        <div class="background"></div>
      </section>

    </div>
  </div>
</div>
