<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
  {{> nav}}

  {{{body}}}
  {{> footer}}
  <!-- jquery js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="assets/js/popper.min.js"></script> -->
  <!-- not sure if we'll miss popper -->
   <!-- Moment.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
  <!-- bootstrap js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <!-- selectize js https://selectize.github.io/selectize.js/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
  <!-- masonry js https://masonry.desandro.com/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"></script>
  <!-- icheck js http://icheck.fronteed.com/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
  <!-- jquery validate js https://jqueryvalidation.org/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
  <!-- slick.js carousel -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

  <!-- calendar picker -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <script src="/assets/build/js/app.min.js" type="text/javascript"></script>
</body>
</html>
