<div class="page 404-page">
  <section class="content">
    <section class="block has-dark-background">
      <div class="container">
        <div class="block">
          <h2>Oh no, you're lost!</h2>
        </div>
      </div>
      <div class="background" data-background-color="#2b2b2b"></div>
    </section>
  </section>
</div>
