<div class="page sub-page">
    <section class="content">
        <section class="block" >
            <div class="container">
                <div id="calendar"></div>
            </div>
        </section>
        <section class="block">
            <div class="container">
                <!--============ Section Title===================================================================-->
                <div class="section-title clearfix">
                    <div class="float-left float-xs-none">
                        <label class="mr-3 align-text-bottom">Sort by: </label>
                        <select name="sorting" id="sorting" class="small width-200px" data-placeholder="Default Sorting" >
                            <option value="">Default Sorting</option>
                            <option value="1">Newest First</option>
                            <option value="2">Oldest First</option>
                            <option value="3">Lowest Price First</option>
                            <option value="4">Highest Price First</option>
                        </select>
                    </div>
                </div>

                {{>full_width_list_events}}

            </div>
        </section>
    </section>
</div>
