<div class="page faq-page">
  <section class="content">
    <section class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <section>
              <form class="form inputs-underline">
                <h3>Frequently Asked Questions</h3>
              </form>
            </section>
            <section>
              {{#each hbsObject.faqs}}
                {{#each this.questions}}
                  <div class="answer">
                    <div class="box">
                      <h3>{{this.question}}</h3>
                      <p>{{this.answer}}
                      </p>
                    </div>
                  </div>
                {{/each}}
              {{/each}}
            </section>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
