<div class="page home-page">
  <section class="content">
    <section class="hero">
      <div class="hero-wrapper">
        <div class="page-title">
          <div class="container">
            <h1>Welcome to Pet Monitor</h1>
            <section class="block has-dark-background">
              <div class="container">
                <div class="block">
                  <h2>Monitoring your pets is easy</h2>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="feature-box">
                        <figure>
                          <img src="assets/icons/feature-user.png" alt="">
                          <span>1</span>
                        </figure>
                        <h3>1. Create an Account</h3>
                        <p>Register an account with us to have the ability monitor your pets!</p>
                      </div>
                      <!--end feature-box-->
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="feature-box">
                        <figure>
                          <img src="assets/icons/feature-upload.png" alt="">
                          <span>2</span>
                        </figure>
                        <h3>2. Add your pet</h3>
                        <p>Add your pet in your Profile, and once submitted, see your pets on Your Pets page!</p>
                      </div>
                      <!--end feature-box-->
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="feature-box">
                        <figure>
                          <img src="assets/icons/feature-like.png" alt="">
                          <span>3</span>
                        </figure>
                        <h3>3. Become an associate</h3>
                        <p>If someone else has created a pet that you help take care of, tell the pet creator your username, and have them add you as a caregiver in their profile section!</p>
                      </div>
                        <!--end feature-box-->
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                      <div class="feature-box">
                        <figure>
                          <img src="assets/icons/feature-wallet.png" alt="">
                          <span>4</span>
                        </figure>
                        <h3>4. Keep your pets happy</h3>
                        <p>Stay on top of when the last time your pets had events happen, such as when were they last fed, when they last had any medicine, last bath/grooming etc. Healthy pets are happy pets!</p>
                      </div>
                      <!--end feature-box-->
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <!--end block-->
              </div>
              <!--end container-->
              <div class="background" data-background-color="#2b2b2b"></div>
              <!--end background-->
            </section>
          </div>
        </div>
      </div>
      <div class="background"></div>
    </section>
  </section>
</div>
