
<div class="page home-page">
  <!--*********************************************************************************************************-->
  <!--************ CONTENT ************************************************************************************-->
  <section class="content">
    <section class="hero">
      <div class="hero-wrapper">
        <div class="page-title">
          <div class="container">
            <h1>Welcome to HomeStead!</h1>
            <h3>Where Your HOA Collaborates</h3>
          </div>
        </div>
      </div>
      <div class="background"></div>
    </section>
    {{> upcoming_events_carousel}}
    {{> latest_classifieds_carousel}}
    {{> classifieds_homepage}}
  </section>
</div>
