<div class="page home-page">
  <section class="content">
    {{> profile/post_pet}}

    <section class="block">
      <div class="container">
        <div class="d-flex align-items-center justify-content-around">
        </div>
      </div>
    </section>

  </section>
</div>
