<div class="page home-page">
  <section class="content">
    <section class="hero">
      <div class="hero-wrapper">
        <div class="page-title">
          <div class="container">
            <h1>Your pets</h1>
            {{> pets}}
          </div>
        </div>
      </div>
      <div class="background"></div>
    </section>
  </section>
</div>
