
<div class="page sub-page">
  <!--*********************************************************************************************************-->
  <!--************ HERO ***************************************************************************************-->
  <!--*********************************************************************************************************-->
  <section class="hero">
      <div class="hero-wrapper">
        <div class="page-title">
          <div class="container">
            <h1>Sign Up</h1>
          </div>
          <!--end container-->
        </div>
      </div>
      <!--============ End Page Title =====================================================================-->
    <div class="background"></div>
    <!--end background-->

  <!--end hero-wrapper-->
</section>
<!--end hero-->

<!--*********************************************************************************************************-->
<!--************ CONTENT ************************************************************************************-->
<!--*********************************************************************************************************-->
<section class="content">
  <section class="block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
          <form id="signup" name="signup" method="post" action="/signup" class="form clearfix">
            <div class="form-group">
              <label for="firstname" class="col-form-label required">Your First Name</label>
              <input name="firstname" type="text" class="form-control" id="firstname" placeholder="John" required>
            </div>
            <!--end form-group-->
            <div class="form-group">
              <label for="lastname" class="col-form-label required">Your Last Name</label>
              <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Smith" required>
            </div>
            <!--end form-group-->
            <div class="form-group">
              <label for="username" class="col-form-label required">Your User Name</label>
              <input name="username" type="text" class="form-control" id="username" placeholder="CoolUser" required>
            </div>
            <!--end form-group-->
            <div class="form-group">
              <label for="email" class="col-form-label required">Email</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="JohnSmith@google.com" required>
            </div>
            <!--end form-group-->
            <div class="form-group">
              <label for="aboutSignup" class="col-form-label required">About You:</label>
              <textarea name="aboutSignup" type="text" class="form-control" id="aboutSignup" rows="4" placeholder="I love to meet up for doggy play days!" required></textarea>
            </div>
            <!--end form-group-->
            <div class="form-group">
              <label for="password" class="col-form-label required">Password</label>
              <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <!--end form-group-->
            <div class="d-flex justify-content-between align-items-baseline">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
          <hr>
        </div>
        <!--end col-md-6-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end block-->
</section>
<!--end content-->
