<div class="page sub-page">
  <section class="content">
    <section class="block has-dark-background">
      <div class="container">
        <div class="block">
          <h2>No classifieds have been posted in this category yet!</h2>
        </div>
      </div>
      <div class="background" data-background-color="#2b2b2b"></div>
    </section>
  </section>
</div>
