.hide {
  display: none;
}
/*1. Classes*/
/********
--- A ---
********/
/*------ Additional Information list ------*/
.additional-info {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1.8rem;
  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li {
      figure {
        opacity: .6;
        font-size: 1.1rem;
        text-transform: uppercase;
        float: left;
        padding: 0.2rem 0;
        font-weight: 600;
      }
      aside {
        font-size: 1.1rem;
        padding: 0.2rem 0;
        text-align: right;
      }
    }
  }
}
/********
--- B ---
********/

/********
--- C ---
********/

/********
--- E ---
********/

/********
--- F ---
********/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 10rem;
  .background {
    background-color: #fff;
  }
  .brand {
    margin-bottom: 4rem;
    display: block;
  }
  nav ul {
    line-height: 3rem;
    opacity: .8;
  }
  address {
    opacity: .8;
  }
}
/********
--- H ---
********/
.hero {
  z-index: 3;
  background-color: #fff;
  .hero-wrapper {
    padding-bottom: 2rem;
  }
  .main-navigation {
    z-index: 999;
    position: relative;
    .navbar {
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
      padding: 3rem 0;
      margin-bottom: 1rem;
    }
  }
}
/*------ Main navigation list ------*/
.hero .main-navigation .navbar ul.navbar-nav {
  position: absolute;
  right: 0;
  a:not(.btn) {
    padding: .5rem 1.7rem;
  }
  .btn {
    margin-left: 1.5rem;
    padding: .8rem 1.6rem;
  }
  li.nav-item {
    position: relative;
  }
}

.nav-link-read-only {
  padding: 1rem 1.5rem;
  &:hover {
    background-color: white;
  }
}

.hero .main-navigation .navbar ul.navbar-nav li.nav-item.has-child {
  > a.nav-link:after {
    font-family: 'fontawesome';
    position: absolute;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1.6rem;
  }
  &:hover > a.nav-link:after {
    color: $color-accent;
  }
}
/*------ Main navigation list item ------*/
/*------ 1st level list ------*/
.hero .main-navigation .navbar ul.navbar-nav > li.nav-item > ul.child {
  margin-top: 1.5rem;
}
/*------ 2nd level ------*/
.hero .main-navigation .navbar ul.navbar-nav > li.nav-item > ul.child > li:hover > ul.child {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0rem);
}
/*------ 3rd level ------*/
.hero .main-navigation .navbar ul.navbar-nav > li.nav-item > ul.child > li:hover > ul.child > li:hover > ul.child {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0rem);
}
/*------ 4th level ------*/
.hero .main-navigation .navbar ul.navbar-nav > li.nav-item {
  > ul.child {
    > li:hover > ul.child > li:hover > ul.child > li:hover > ul.child {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0rem);
    }
    &:before {
      position: absolute;
      width: 100%;
      height: 1.5rem;
      background-color: transparent;
      content: "";
      top: -1.5rem;
      right: 0;
    }
  }
  ul.child {
    box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.15);
    border-radius: .3rem;
    transform: translateY(0.3rem);
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    position: absolute;
    right: 0;
    width: 20rem;
    background-color: #fff;
    text-align: right;
  }
}//()
/*------ 1st level and next levels list item ------*/
.hero .main-navigation .navbar ul.navbar-nav > li.nav-item ul.child li {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.04);
  transition: .3s ease;
  a.nav-link {
    padding: 1rem 1.5rem;
  }
}
/*------ 2nd and next levels ------*/
.hero .main-navigation .navbar ul.navbar-nav > li.nav-item ul.child li ul {
  right: 20rem;
  top: 0;
  transform: translateX(0.3rem);
  margin-right: .5rem;
  li:first-child {
    &:after {
      background-color: transparent;
      width: .5rem;
      height: 100%;
      content: "";
      position: absolute;
      right: -.5rem;
      top: 0;
    }
    &:before {
      border-style: solid;
      border-width: .45rem 0 .45rem .6rem;
      border-color: transparent transparent transparent #fff;
      content: "";
      position: absolute;
      top: 1.6rem;
      right: -.6rem;
      z-index: 1;
    }
    &:hover:before {
      border-color: transparent transparent transparent #fafafa;
    }
  }
}

// .hero .main-navigation .navbar ul.navbar-nav > li.nav-item ul.child li:hover {
//   background-color: rgba(0,0,0,.02);
// }

//replaces commented out class above
//in order to exclude nav-link-read-oonly li's
.hero .main-navigation .navbar ul.navbar-nav > li.nav-item {
  ul.child {
    li {
      &.nav-item:hover {
        background-color: rgba(0, 0, 0, 0.02);
      }
      &.has-child > a.nav-link:after {
        content: "\f0d9";
        left: 1rem;
      }
    }
    &:hover {
      pointer-events: auto;
    }
  }
  &.has-child > a.nav-link:after {
    content: "\f0d7";
    right: .4rem;
  }
}
/*------ 1st level list ------*/
.hero {
  .main-navigation {
    .navbar ul.navbar-nav > li.nav-item.has-child:hover > ul.child {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0rem);
      &:before {
        pointer-events: auto;
      }
      &:after {
        border-style: solid;
        border-width: 0 .45rem .6rem .45rem;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        top: -.6rem;
        right: 1.8rem;
        content: "";
      }
    }
    .main-search-form-toggle {
      box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
      position: absolute;
      right: 0;
      bottom: -4.1rem;
      background-color: $color-accent;
      padding: 1rem 1.4rem;
      color: #fff;
      border-bottom-left-radius: .3rem;
      border-bottom-right-radius: .3rem;
      i {
        transition: .3s ease;
        &.fa-close {
          opacity: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 1.7rem;
          right: 0;
          left: 0;
          width: 1rem;
        }
      }
      &:hover {
        box-shadow: 0 0.4rem 3.3rem rgba(0, 0, 0, 0.3);
      }
      &[aria-expanded="true"] {
        .fa-close {
          opacity: 1;
        }
        .fa-search {
          opacity: 0;
        }
      }
    }
  }
  .secondary-navigation {
    background-color: $color-header-nav;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    display: table;
    width: 100%;
    a, span {
      color: #fff;
      padding: .8rem;
      display: inline-block;
      text-decoration: none;
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    i {
      opacity: .5;
      margin-right: .5rem;
    }
    .left {
      float: left;
      li:first-child {
        padding-left: 0;
      }
    }
    .right {
      float: right;
      li {
        border-left: 0.1rem solid rgba(255, 255, 255, 0.2);
        &:last-child {
          border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
        }
      }
    }
    ul li {
      float: left;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .page-title {
    padding-top: 5rem;
    padding-bottom: 3rem;
    a {
      position: relative;
      &:hover::after {
        animation-name: underline-animation;
        animation-duration: .7s;
        animation-fill-mode: forwards;
        /*background-color: $color-default; transition: $transition;*/
      }
      &:after {
        background-color: #000;
        width: 100%;
        height: .2rem;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    h1 .tag {
      vertical-align: middle;
      position: relative;
      top: -.3rem;
      margin-left: 1rem;
      background-color: $color-accent;
      color: #fff;
    }
    h4 {
      opacity: .5;
      a:after {
        display: none;
      }
      &.location:before {
        font-family: 'fontawesome';
        color: #000;
      }
    }
    .price {
      text-align: right;
      .number {
        font-family: $font-headers;
        color: $color-accent;
        font-size: 3.6rem;
        line-height: 1.1;
      }
    }
  }
  &:after {
    background-image: url("../../assets/img/hero-overlay.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 100%;
    height: 4.8rem;
    bottom: 0;
  }
  &.has-map {
    .hero-form {
      padding-top: 8rem;
      padding-bottom: 6rem;
      box-shadow: 0rem -0.5rem 0.3rem 0rem rgba(0, 0, 0, 0.1);
      z-index: 1;
      position: relative;
    }
    .hero-wrapper {
      padding-bottom: 0;
    }
    .main-navigation {
      box-shadow: 0 0.2rem 0.7rem 0 rgba(0, 0, 0, 0.08);
      .navbar {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
/********
--- I ---
********/
/*------ Items ------*/
.items:not(.selectize-input) {
  margin-left: -1.5rem;
  margin-right: -1.5rem;/*------------------*//*- Grid, Masonry --*//*------------------*//*------------------*//*----- Grid -------*//*------------------*//*------------------*//*------ List ------*/
}
/*------ Item ------*/
.items:not(.selectize-input) .item {
  margin-bottom: 3rem;
  position: relative;
  .wrapper {
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    transition: .3s box-shadow ease, .3s transform  ease;
    border-radius: .5rem;
    background-color: #fff;
    position: relative;
    transform: translateY(0);
    &:hover {
      box-shadow: 0 0.4rem 3.3rem rgba(0, 0, 0, 0.3);
      transform: translateY(-0.2rem);
    }
  }
}
/*------ Image ------*/
.items:not(.selectize-input) .item .image {
  height: 26rem;
  position: relative;
  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
  background-color: #f8f8f8;
  .image-wrapper {
    transition: none;
    display: block;
    position: relative;
    z-index: 0;
    &:before {
      opacity: .8;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15rem;
      content: "";
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
    }
  }
}
/*------ Tags ------*/
.items:not(.selectize-input) .item .tag, .items:not(.selectize-input) .item h3, .items:not(.selectize-input) .item h4, .items:not(.selectize-input) .item .price {
  position: absolute;
}
/*------ Call to action item ------*/
.items:not(.selectize-input) .item .tag {
  color: #fff;
  position: absolute;
  z-index: 1;
  left: 1.8rem;
  top: 12rem;
  transition: .3s background-color ease;
  padding: 0.4rem .5rem;
}
/*------ H3 heading ------*/
.items:not(.selectize-input) .item h3 {
  position: absolute;
  z-index: 1;
  left: 1.8rem;
  color: white;
  bottom: 6rem;
  padding-right: 1.8rem;
  margin-bottom: .5rem;
  a {
    color: #fff;
    transition: none;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.6);
    display: block;
    &:hover {
      text-decoration: underline;
    }
    &.category {
      display: inline-block;
      color: #fff;
      position: relative;
      transition: .3s background-color ease;
      font-weight: 600;
      font-size: 1rem;
      text-shadow: none;
      text-decoration: none;
      top: inherit;
      bottom: 1rem;
      left: 0;
    }
  }
  .tag:not(.category) {
    background-color: #fff;
    top: inherit;
    bottom: 16rem;
    left: 0;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    opacity: .6;
    transition: none;
    pointer-events: none;
  }
}
/*------ H4 heading ------*/
.items:not(.selectize-input) .item h4 {
  position: absolute;
  z-index: 1;
  left: 1.8rem;
  color: white;
  top: 20rem;
  font-weight: 300;
  font-size: 1.4rem;
  opacity: .8;
  a {
    color: #fff;
    transition: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &.location:before {
    color: #fff;
  }
}
/*------ Price ------*/
.items:not(.selectize-input) .item .price {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: 600;
  position: absolute;
  top: 22.6rem;
  left: 1.8rem;
  padding: .5rem 1.8rem;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  z-index: 1;
  .appendix {
    font-size: 1rem;
    margin-right: .6rem;
    opacity: .7;
    top: -.2rem;
    position: relative;
    display: block;
    margin-bottom: -0.7rem;
  }
}
/*------ Meta ------*/
.items:not(.selectize-input) .item .meta {
  background-color: #f8f8f8;
  padding: 1.8rem;
  font-size: 1.2rem;
  width: 100%;
  white-space: nowrap;
  margin-top: -.2rem;
  position: relative;
  figure {
    opacity: .6;
    margin-right: 2rem;
    display: inline-block;
    i {
      margin-right: 1rem;
    }
    a {
      transition: .3s color ease;
    }
  }
  &:before {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f8f8f8+100&0+0,1+50 */
    background: -moz-linear-gradient(left, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 50%, rgba(248, 248, 248, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 50%, rgba(248, 248, 248, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 50%, rgba(248, 248, 248, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='#f8f8f8',GradientType=1 );
    /* IE6-9 */
    height: 100%;
    width: 4rem;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
/*------ Description ------*/
.items:not(.selectize-input) .item .description {
  font-size: 1.3rem;
  padding: 1.8rem 1.8rem 0 1.8rem;
  p {
    margin-bottom: 0;
  }
}
/*------ Detail link ------*/
.items:not(.selectize-input) .item {
  .detail {
    bottom: 1.8rem;
    left: 1.8rem;
    color: $color-accent;
    transition: .3s background-color ease;
    position: absolute;
    &:after {
      background-color: $color-accent;
    }
  }
  figure {
    margin-bottom: 0;
  }
  &.call-to-action {
    text-align: center;
    height: 30rem;
    display: block;
    .wrapper {
      background-color: transparent;
      box-shadow: none;
      display: table;
      width: 100%;
      height: 100%;
      border: 0.1rem solid rgba(0, 0, 0, 0.05);
      transition: .3s box-shadow ease, .3s background-color ease, .3s transform ease;
      padding-bottom: 0;
      .title {
        color: #000;
        font-size: 1.8rem;
        display: table-cell;
        vertical-align: middle;
        font-family: 'Varela Round', sans-serif;
        i {
          display: block;
          font-size: 2.4rem;
          color: $color-accent;
          margin-bottom: 1rem;
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }
  &.item-sold .wrapper {
    opacity: .3;
  }
  &.author .meta {
    figure {
      margin-right: 0;
      float: left;
      &:last-child {
        float: right;
      }
    }
    &:before {
      display: none;
    }
    &:after {
      display: block;
      clear: both;
      content: "";
    }
  }
}
/*------------------*/
.items:not(.selectize-input) {
  .item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .wrapper {
      width: 100%;
      height: 100%;
    }
    .admin-controls {
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 600;
      a {
        display: inline-block;
        padding: .5rem;
        i {
          margin-right: .5rem;
          opacity: .5;
        }
      }
    }
  }
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
/*------ Border around image ------*/
.items:not(.selectize-input) {
  &.grid .item .image .image-wrapper, &.masonry .item .image .image-wrapper {
    border: .6rem solid #f8f8f8;
    border-radius: .9rem;
  }
  &.grid .item, &.masonry .item, &.grid .item .wrapper, &.masonry .item .wrapper {
    float: left;
  }
  &.grid .item p {
    height: 6rem;
    overflow: hidden;
  }
  &.masonry .item {
    p {
      height: 6rem;
      overflow: hidden;
    }
    .wrapper {
      padding-bottom: 5rem;
    }
  }
  &.grid {
    .item {
      height: 43rem;
      .additional-info {
        display: none;
      }
    }
    &.compact .item {
      height: inherit;
      .wrapper {
        height: 31rem;
        .detail {
          display: none;
        }
      }
      .admin-controls {
        position: relative;
        right: inherit;
        text-align: center;
        height: auto;
        border-left: none;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.2rem;
        a {
          display: inline-block;
          padding: .5rem;
          i {
            margin-right: .5rem;
          }
        }
      }
    }
  }
  &.list {
    height: inherit !important;
    /*-------------------------*/
    /*-- Compact Item - List --*/
    /*-------------------------*/
  }
}
/*------  Border around image ------*/
.items:not(.selectize-input).list .item .image .image-wrapper {
  border: .6rem solid #fff;
  border-radius: .9rem;
}
/*------ Item ------*/
.items:not(.selectize-input).list .item {
  position: relative !important;
  top: inherit !important;
  left: inherit !important;
  .wrapper {
    min-height: 18rem;
    padding-bottom: 0;
  }
  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    .background-image {
      width: 25rem;
    }
  }
}
/*------ H3 ------*/
.items:not(.selectize-input).list .item h3 {
  top: 2.5rem;
  font-size: 2.2rem;
  color: #000;
  left: 27rem;
  bottom: inherit;
  width: 100%;
  a:not(.category) {
    color: #000;
    text-shadow: none;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: $color-accent;
    }
  }
  .tag {
    &:not(.category) {
      position: relative;
      top: -0.2rem;
      background-color: transparent;
      border: 0.1rem solid rgba(0, 0, 0, 0.3);
      vertical-align: middle;
    }
    &.category {
      position: absolute;
      color: #fff;
      bottom: inherit;
      top: -1rem;
      left: -25.5rem;
    }
  }
}
/*------ H4 ------*/
.items:not(.selectize-input).list .item h4 {
  top: 5.5rem;
  left: 27rem;
  a {
    color: #000;
  }
  &.location:before {
    font-family: 'fontawesome';
    color: #000;
  }
}
/*------ Price ------*/

.items:not(.selectize-input).list {
  .item {
    .price {
      top: inherit;
      border-radius: .3rem;
      bottom: 2rem;
    }
    .tag {
      top: 2rem;
    }
    .meta {
      position: absolute;
      padding: 3rem 2rem 0 0;
      right: 0;
      width: auto;
      font-size: 1.1rem;
      background-color: transparent;
      text-align: right;
      top: 0;
      z-index: 1;
      figure {
        display: block;
        margin-right: 0;
      }
      &:before {
        display: none;
      }
    }
    .description {
      position: absolute;
      bottom: 2rem;
      padding: 0;
      left: 27rem;
      z-index: 1;
      height: 4rem;
      overflow: hidden;
      p {
        width: 80%;
      }
    }
    .detail {
      right: 2rem;
      bottom: 2rem;
      left: inherit;
      border: .1rem solid $color-accent;
      padding: 1rem;
      text-transform: none;
      font-size: 1.4rem;
      border-radius: .3rem;
      z-index: 2;
      &:hover {
        background-color: $color-accent;
        color: #fff;
      }
      &:after {
        display: none;
      }
    }
    .additional-info {
      padding: 9rem 0 8rem 0;
      margin-right: 2rem;
      position: relative;
      margin-left: 27rem;
      ul {
        background-color: #f9f9f9;
        border-radius: .3rem;
        margin-bottom: 0;
        padding: 1.5rem;
        li {
          display: inline-block;
          margin-right: 5rem;
          figure {
            float: none;
          }
          aside {
            text-align: left;
          }
        }
      }
    }
    &.call-to-action {
      height: 15rem;
    }
  }
  &.compact .item {
    min-height: 17rem;
    .image {
      padding-right: 20rem;
      .background-image {
        width: 20rem;
      }
      .image-wrapper:before {
        opacity: .6;
        height: 8rem;
      }
    }
    .additional-info {
      margin-left: 22rem;
      padding: 8rem 0 6.3rem 0;
      ul {
        padding: .4rem .4rem 0 .4rem;
        li figure {
          padding: 0;
          margin-bottom: -.4rem;
          font-size: 1rem;
        }
      }
    }
    h3, h4, .description {
      left: 22rem;
    }
    h3 .tag.category {
      left: -20.3rem;
    }
    .price {
      padding: .3rem 1.1rem;
      font-size: 1.3rem;
    }
    .description {
      padding-right: 20rem;
      bottom: 1.4rem;
      p {
        font-size: 1.2rem;
      }
    }
    .detail {
      border: inherit;
      text-transform: uppercase;
      font-size: 1.1rem;
      bottom: 2rem;
      padding: 0;
      &:hover {
        background-color: transparent;
        color: $color-accent;
      }
      &:after {
        display: block;
      }
    }
    .admin-controls {
      position: absolute;
      right: 0;
      height: 8rem;
      top: 0;
      bottom: 0;
      margin: auto;
      border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
      padding-left: 2rem;
      padding-right: 2rem;
      z-index: 1;
      background-color: #fff;
      a {
        display: block;
        padding: .4rem 0;
        i {
          margin-right: 1rem;
        }
      }
    }
  }
}

/*background-color: transparent;*/

/********
--- N ---
********/

/********
--- O ---
********/

/********
--- P ---
********/
.pac-logo:after {
  display: none;
}

.page {
  .hero-wrapper {
    position: relative;
    .background {
      background-color: #fff;
    }
  }
  > .content {
    background-color: $color-content-background;
    z-index: 1;
    &:after {
      background-image: url("../../assets/img/footer-overlay.png");
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      width: 100%;
      height: 4.2rem;
      left: 0;
      content: "";
      position: absolute;
    }
  }
  &.sub-page {
    .page-title {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .form.hero-form {
      padding-top: 2rem;
      .main-search-form {
        background-color: $color-content-background;
        padding: 5rem 3rem 1rem 3rem;
        border-radius: .3rem;
        margin-bottom: 1rem;
        position: relative;
        .form-group label {
          font-size: 1.8rem;
          top: -3.7rem;
        }
        .geo-location.input-group-addon {
          height: 3.9rem;
        }
        &:before {
          border-style: solid;
          border-width: 0 .45rem .6rem .45rem;
          border-color: transparent transparent $color-content-background transparent;
          position: absolute;
          top: -.6rem;
          right: 1.5rem;
          content: "";
        }
      }
    }
  }
}

.panel {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.7rem 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  .panel-title {
    margin-bottom: 0;
    a {
      display: block;
      padding: 20px;
      i {
        margin-right: 5px;
      }
    }
  }
  .panel-body {
    padding: 20px;
  }
  .horizontal-input-title {
    margin-top: 15px;
  }
}

.page-pagination {
  text-align: center;
  margin: 6rem 0 3rem 0;
  > nav {
    display: inline-block;
    .pagination {
      margin-bottom: 0;
      .page-item {
        .page-link {
          color: #000;
          width: 4rem;
          line-height: 4rem;
          padding: inherit;
          border: none;
          background-color: transparent;
          border-radius: .3rem;
          font-size: 1.6rem;
          margin: 0 .2rem;
          i {
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.5);
          }
          &:hover {
            background-color: #fff;
            box-shadow: 0 0.2rem 0.7rem 0 rgba(0, 0, 0, 0.08);
          }
        }
        &.active .page-link {
          background-color: $color-accent;
          color: #fff;
          box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}

.pricing {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  padding: 30px 20px;
  h2 {
    opacity: .7;
    color: inherit;
    font-size: 30px;
    font-weight: lighter;
  }
  figure {
    box-shadow: 0 0.2rem 0.7rem 0 rgba(0, 0, 0, 0.08);
    border-radius: 100%;
    background-color: #ededed;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 5px;
    right: -10px;
    text-align: center;
    line-height: 75px;
    color: $color-accent;
    font-size: 18px;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      line-height: 55px;
      i {
        font-size: 20px;
      }
      &:last-child {
        border-bottom: none;
      }
      &.available {
        color: $color-accent;
      }
      &.not-available {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  &.box {
    background-color: #fff;
    &.featured {
      background-color: #000;
      color: #fff;
      ul li {
        &.available, &.not-available {
          color: #fff;
          border-bottom-color: rgba(255, 255, 255, 0.2);
        }
        color: #fff;
        border-bottom-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  &.featured:not(.box) figure {
    background-color: $color-accent;
    color: #fff;
  }
  &.description {
    box-shadow: none;
    background-color: transparent;
    text-align: left;
    padding-left: 0;
  }
}

.profile-image .image {
  width: 100%;
  height: 25.5rem;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.7rem 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  text-align: center;
  img {
    height: 100%;
  }
}
/********
--- R ---
********/

/********
--- S ---
********/

/********
--- T ---
********/

/********
--- Animations ---
********/
@keyframes underline-animation {
  0% {
      width: 100%;
  }
  30% {
      width: 0%;
  }
  60% {
      width: 100%;
      background-color: $color-accent;
  }
  100% {
      left: 0;
      background-color: $color-accent;
  }
}
@keyframes show-form-slide-animation {
  0% {
      opacity: 0;
      transform: translateY(.5rem);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.weather-icon {
  font-size: 14px;
  top: 2px;
  position: relative;
}
@media(max-width: 768px) {
  .weather {
    display: none;
  }
}
