/*2. Elements*/
a {
  color: #000;
  transition: .3s color ease, .3s background-color ease, .3s box-shadow ease;
}
a .appendix {
  opacity: .4;
  margin-left: .5rem;
}
a:hover, a:focus, a:active {
  outline: none !important;
  text-decoration: none;
}
a:hover {
  color: $color-accent;
}
a.icon i {
  color: $color-accent;
  margin-right: 1rem;
  font-size: 1.2rem;
}
a.underline:hover::after {
  animation-name: underline-animation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
}
a.underline:after {
  background-color: #000;
  width: 100%;
  height: .1rem;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}
a.text-uppercase {
  font-size: 1.1rem;
  font-weight: 600;
}
a.link {
  color: $color-accent;
}
a.nav-link i {
  color: inherit;
  opacity: .3;
}
a.nav-link.active {
  color: $color-accent;
}
a.nav-link.active i {
  color: $color-accent;
  opacity: 1;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: $font-details;
  font-weight: 500;
  position: relative;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  background-color: $color-content-background;
  height: 100%;
  overflow-x: hidden;
}
dl {
  margin-bottom: 1rem;
}
dl dt {
  float: left;
  padding: .2rem 0;
}
dl dd {
  text-align: right;
  padding: .2rem 0;
}
h1 {
  font-family: $font-headers;
  font-size: 3.6rem;
}
h2 {
  font-family: $font-headers;
  font-size: 2.4rem;
  margin-bottom: 4rem;
  padding-top: 1rem;
}
h3 {
  font-family: $font-headers;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
h4.location:before {
  font-family: 'fontawesome';
  content: "\f041";
  position: relative;
  font-size: 1.3rem;
  opacity: .6;
  margin-right: .2rem;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
figure.with-icon {
  position: relative;
  padding-left: 2.5rem;
}
figure.with-icon i {
  color: $color-accent;
  position: absolute;
  line-height: 2rem;
  left: 0;
}
mark, .mark {
  background-color: #ffdc23;
}
p {
  opacity: .65;
  font-weight: normal;
}
ul.columns-2, ol.columns-2, dl.columns-2 {
  column-count: 2;
}
ul.columns-2 dd, ul.columns-2 li, ol.columns-2 dd, ol.columns-2 li, dl.columns-2 dd, dl.columns-2 li {
  margin-right: 1rem;
}
ul.columns-3, ol.columns-3, dl.columns-3 {
  column-count: 3;
}
ul.columns-3 dd, ul.columns-3 li, ol.columns-3 dd, ol.columns-3 li, dl.columns-3 dd, dl.columns-3 li {
  margin-right: 1rem;
}
ul.columns-4, ol.columns-4, dl.columns-4 {
  column-count: 4;
}
ul.columns-4 dd, ul.columns-4 li, ol.columns-4 dd, ol.columns-4 li, dl.columns-4 dd, dl.columns-4 li {
  margin-right: 1rem;
}
ul.features-checkboxes, ol.features-checkboxes, dl.features-checkboxes {
  padding-left: 0;
  list-style: none;
}
ul.features-checkboxes li, ol.features-checkboxes li, dl.features-checkboxes li {
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 4rem;
}
ul.features-checkboxes li:before, ol.features-checkboxes li:before, dl.features-checkboxes li:before {
  width: 2rem;
  height: 2rem;
  background-color: $color-accent;
  border-radius: .3rem;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
}
ul.features-checkboxes li:after, ol.features-checkboxes li:after, dl.features-checkboxes li:after {
  font-family: 'fontawesome';
  color: #fff;
  content: "\f00c";
  position: absolute;
  line-height: 1.8rem;
  font-size: 1rem;
  left: .5rem;
  top: 0;
}
section {
  position: relative;
}
header, footer {
  position: relative;
}
