/*5. Responsive*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// max to 767px
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 767px) {
  body::before {
    display: none;
    content: "xs";
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .d-xs-grid {
    display: grid !important;
  }
  .float-xs-none {
    float: none !important;
  }
  .block section {
    margin-bottom: 4rem;
  }
  .d-xs-none {
    display: none !important;
  }
  .admin-controls {
    top: 3rem !important;
    bottom: auto !important;
  }
  .author.big {
    padding-top: 28rem;
    position: relative;
    .author-image {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .author-description {
      margin-left: 0;
    }
  }
  .blog-posts-navigation {
    .prev, .next {
      display: block;
    }
  }
  .footer {
    position: relative;
  }
  .form-slides#category-tabs {
    &:before, &:after {
      display: none;
    }
  }
  .items:not(.selectize-input) {
    &.grid, &.masonry {}
    &.grid[class*="grid-"] .item, &.masonry[class*="grid-"] .item {
      width: 100%;
      display: block;
    }
    &.list {
      .item .wrapper, &.compact .item .wrapper {
        min-height: inherit;
      }
      .item .wrapper .image, &.compact .item .wrapper .image {
        position: relative;
        padding-right: 0;
      }
      .item .wrapper .image .background-image, &.compact .item .wrapper .image .background-image {
        height: 28rem;
        width: auto;
      }
      .item .wrapper .image .background-image:before, &.compact .item .wrapper .image .background-image:before {
        opacity: .9;
        height: 14rem;
      }
      .item h3, &.compact .item h3 {
        left: 2rem;
        bottom: 8rem;
        top: inherit;
      }
      .item h3 a:not(.category), &.compact .item h3 a:not(.category) {
        color: #fff;
      }
      .item h3 .tag, &.compact .item h3 .tag {}
      .item h3 .tag.category, &.compact .item h3 .tag.category {
        top: -3rem;
        left: 0;
        bottom: auto;
      }
      .item h3 .tag:not(.category), &.compact .item h3 .tag:not(.category) {
        position: absolute;
        top: -15rem;
        bottom: auto;
        left: 0;
        background-color: #fff;
        border: none;
      }
      .item h4, &.compact .item h4 {
        top: 20rem;
        left: 2rem;
      }
      .item h4 a, &.compact .item h4 a, .item h4 a:before, &.compact .item h4 a:before {
        color: #fff;
      }
      .item h4.location, &.compact .item h4.location {}
      .item h4.location:before, &.compact .item h4.location:before {
        color: #fff;
      }
      .item .price, &.compact .item .price {
        top: 24.5rem;
        bottom: auto;
      }
      .item .description, &.compact .item .description {
        position: relative;
        left: 0;
        padding: 4rem 2rem;
        height: 10rem;
      }
      .item .detail, &.compact .item .detail {
        position: relative;
        right: -2rem;
      }
      .item .meta, &.compact .item .meta {
        background-color: #f8f8f8;
        padding: 1.8rem;
        font-size: 1.2rem;
        width: 100%;
        white-space: nowrap;
        margin-top: -.2rem;
        position: relative;
        text-align: left;
      }
      .item .meta figure, &.compact .item .meta figure {
        opacity: .6;
        margin-right: 2rem;
        display: inline-block;
      }
      .item .meta figure i, &.compact .item .meta figure i {
        margin-right: 1rem;
      }
      .item .meta figure a, &.compact .item .meta figure a {
        transition: .3s color ease;
      }
      .item .meta:before, &.compact .item .meta:before {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f8f8f8+100&0+0,1+50 */
        background: -moz-linear-gradient(left, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 50%, rgba(248, 248, 248, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 50%, rgba(248, 248, 248, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 1) 50%, rgba(248, 248, 248, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='#f8f8f8',GradientType=1 );
        /* IE6-9 */
        height: 100%;
        width: 4rem;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }
      .item .additional-info, &.compact .item .additional-info {
        padding: 0 2rem;
        margin-left: 0;
        margin-bottom: 4rem;
      }
    }
  }
  .form.hero-form {
    padding-top: 1rem;
    .main-search-form {
      margin-bottom: 2rem;
      .form-group label {
        position: relative;
        font-size: 2rem;
        top: inherit;
      }
    }
  }
  .hero {
    .main-navigation .navbar ul.navbar-nav {
      position: relative;
      text-align: right;
      a:not(.btn) {
        padding: 1.2rem 2rem;
      }
      > li.nav-item {
        a.nav-link {
          border-top: 0.1rem solid rgba(0, 0, 0, 0.04);
        }
        ul.child {
          position: relative;
          opacity: 1;
          width: 100%;
          box-shadow: none;
          background-color: rgba(0, 0, 0, 0.05);
          margin-top: 0;
          transform: translateY(0);
          right: 0;
          border-radius: 0;
          li {
            border-bottom: none;
            ul {
              right: 0;
              transform: translateX(0);
            }
            a.nav-link {
              padding: 1rem 2.5rem;
            }
            &.has-child > a.nav-link:after {
              content: "\f0d7";
              left: inherit;
              right: 1rem;
            }
          }
          &:before, &:after {
            display: none;
          }
        }
        &:first-child a.nav-link {
          border-top: none;
        }
      }
      li.nav-item {
        ul.child {
          height: 0;
          overflow: hidden;
        }
        &.has-child {
          > a.nav-link:after {
            bottom: inherit;
            top: 1.5rem;
          }
          &.hover > ul.child {
            height: auto;
          }
        }
      }
    }
    .page-title .price {
      padding-top: 2rem;
      text-align: left;
    }
    &.has-dark-background a {
      color: #fff !important;
    }
  }
  .categories-list li {
    width: 100%;
  }
  .feature-box {
    text-align: center;
    figure {
      display: inline-block;
    }
  }
  .main-search-form {
    padding: 3rem !important;
    .form-group label {
      top: inherit !important;
    }
  }
  .profile-image {
    text-align: center;
    .image {
      display: inline-block;
      width: 25.5rem;
    }
  }
  .sidebar .sidebar-form {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2rem;
    border-radius: .3rem;
  }
  .side-nav {
    margin-bottom: 3rem;
  }
}
