//header color
$color-header-nav:#363636;

//content background color
$color-content-background: #f2f2f2;

//COLOR for
//listing category pendants
//some text highlighting
//button border
$color-accent: #ff0000; 

//FONT for
///header nav
///listing descriptions
///card details
$font-details: 'Poppins', sans-serif;

//FONT for
//content section headers
///classifieds header
///furniture, Pets, etc.
///card headers ("Furniture for sale," "Manhattan, NY")
$font-headers: 'Varela Round', sans-serif;